*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Home{
    background: url(image/pexels-samet-korkmaz-14372066\ 1.png);
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}